# python environment & other hidden folders
.*  
!.gitignore   


# pdfs, images, gif, mp4 
*.pdf
*.png
*.gif
*.mp4

# Latexmk
*.fdb_latexmk

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.synctex.gz
